
.idea/vcs.xml
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/advent-of-code.iml
2019/.idea/2019.iml
2019/.idea/misc.xml
2019/.idea/modules.xml
2019/.idea/vcs.xml
2019/.idea/workspace.xml
*/input.txt